.climate-area .row {
    display: flex;
    padding-left: 64px;
}

.climate-area {
    padding: 125px 0;
    background: #FAFAFA;
    position: relative;
}

.climate-img {
    position: relative;
    z-index: 7;
}

.climate-img a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 51px;
    height: 51px;
    background: #fff;
    border-radius: 50%;
    margin-left: -25px;
    display: flex;
    margin-top: -25px;
    align-items: center;
    justify-content: center;
}

p.climate-sold {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 10.1817px;
    line-height: 14px;
    letter-spacing: 2.54543px;
    color: #146356;
}

.climate-text {
    margin-left: 33px;
}

.climate-text h3 {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 35.636px;
    line-height: 48px;
    margin-bottom: 27px;
}

.climate-area .container {
    margin: 0;
}

.climate-text p {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 15.2726px;
    line-height: 25px;
    color: #575757;
    letter-spacing: 0.424238px;
}

button.climate-btu {
    margin-top: 18px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 13.5756px;
    line-height: 18px;
    color: #146356;
    border: 1.27271px solid #146356;
    border-radius: 3.3939px;
    letter-spacing: 0.424238px;
    height: 46.15px;
    width: 135px;
}

img.bg1 {
    position: absolute;
    top: 39px;
    left: 16px;
}

img.bg2 {
    position: absolute;
    top: 13px;
    right: 0;
}

img.bg3 {
    position: absolute;
    left: 229px;
    bottom: 34px;
}

/* responsive */

@media (min-width: 768px) and (max-width: 1024.98px){
    .img-clim {
        display: none;
    }
    .climate-area .row {
        display: block;
        padding: 0 64px;
    }

 

    .climate-area .climate-img > img {
        width: 100%;
    }

    .climate-text {
        margin-left: 0;
        margin-top: 30px;
    }
}

@media (min-width: 204px) and (max-width: 767.98px){

    .img-clim {
        display: none;
    }

    .climate-area .row {
        display: block;
        padding-left: 0;
    }

    .climate-img img{
        display: none;
    }

}